<div id="printInstructionLink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Print Instruction</h3>
  </div>
  <div class="modal-body">
    <p>1. Install the printer drivers and zebra printer utilities from the CD given with the printer.</p>
    <p>2. Then open zebra printer utilities.</p>
    <p>3. It would display "ZDesigner GX430t" printer. If not then click "install new printer". The installation process will guide you to completion.</p>
    <p>4. Then double click the "ZDesigner GX430t". This opens a "ZDesigner GX430t properties" window.</p>
    <p>5. Click "options" tab and set below properties to the values(in inch) specified below:<br />
      <span class="printInstructionSettings">Darkness : 24</span><br />
      <span class="printInstructionSettings">left : 0.04</span><br />
      <span class="printInstructionSettings">top : 0.00</span><br />
      <span class="printInstructionSettings">width : 3.00</span><br />
      <span class="printInstructionSettings">height : 2.00</span></p>
    <p>6. Then click "advance setup" tab and set left Position to 1.00 inch</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>