<p>Hello <%= @resource.email %>,</p>

<p>You recently asked to reset your <%= link_to 'Hardware And Asset Management', root_url, :target => "_blank" %> password.</p>
<p><%= link_to 'Click here to change your password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
